.quote {
    margin: 1rem;
    padding: 1rem;
    background-color: #706b6b;
    box-shadow: 0 2px 8px rgb(65, 62, 62);
    border-radius: 12px;
    text-align: center;
    color: white;
}

.quote h2 {
    font-size: 2rem;
    color: #06e306;
}

.quote-list {
    list-style: none;
    margin: 0;
    padding: 0;
}